<div class="sign-in-wrapper">
	<div class="ui raised segments sign-in-box">
		<div class="ui very padded text segment">
			<h2 class="ui blue large centered header">Didn't Receive E-mail</h2>
			<div class="ui divider"></div>
			<br/>
			
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				
				<div class="field">
					<%= f.label :email %><br/>
					<div class="sign-in-input">
						<%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
					</div>
				</div>
				
				<br/>
				<%= render "users/shared/error_messages", resource: resource %>
				<br/>
				
				<div class="actions reset-btn">
					<%= f.submit "Resend confirmation mail", class: "ui primary button" %>
				</div>
			<% end %>
		</div>
		
		<div class="ui secondary segment">
			<%= render "users/shared/links" %>
		</div>
	</div>
</div>