<div class="ui two computer column divided grid main">
	<div class="sixteen wide mobile six wide tablet five wide computer column">
		<div class="vertical-line"></div>
		<div class="section" data-controller="particles">
			<div id="tsparticles"></div>
			<div class="user-profile">
				<%= turbo_frame_tag "profiles" do %>
					<div class="main-profile">
						<img class="ui circular image profile-img" src="<%= @user.image_url || image_url("profile-pic.jpg") %>">
						<p class="ui large header"><span class="username"><%= @user.name %></span></p>
						<div class="other-profiles division">
							<% if @user.portfolio_url %>
								<div onclick="window.open(<%= @user.portfolio_url %>)" class="portfolio-link">
									<i class="external alternate icon"></i><%= @user.portfolio_url %>
								</div>
							<% end %>
							<div class="svg-icons">
								<%= if @user.github_username
										image_tag "github.svg", onclick: "window.open('https://github.com/" + @user.github_username + "')"
									end %>
								<%= if @user.hackerrank_username
										image_tag "hackerrank.svg", onclick: "window.open('https://hackerrank.com/" + @user.hackerrank_username + "')"
									end %>
								<%= if @user.stackoverflow_url
										image_tag "stackoverflow.svg", onclick: "window.open('" + @user.stackoverflow_url + "')"
									end %>
								<%= if @user.linkedin_url
										image_tag "linkedin.svg", onclick: "window.open('" + @user.linkedin_url + "')"
									end %>
							</div>
							
							<div class="profile-btns">
								<% if @user == current_user || (@connection && @connection.accepted?) %>
									<%= link_to "#{@connection_count} Connections", profile_connections_path(@user.id), class: "ui blue button", data: { turbo: false } %>
								<% elsif @connection && @connection.requested? %>
									<%= link_to "Requested", profile_connections_path(@user.id), class: "ui disabled blue button", data: { turbo: false } %>
								<% else %>
									<%= link_to "Connect", profile_connections_path(@user.id), class: "ui blue button", data: { turbo_method: :post } %>
								<% end %>
								
								<% if @user == current_user %>
									<%= link_to "Edit profile", edit_profile_path(current_user.id), class: "ui black button" %>
								<% else %>
									<%= link_to "Message", room_path(@user.id), class: "ui secondary button", data: { turbo: false } %>
								<% end %>
							</div>
							<br/>
							
							<%= button_to profile_resume_path(@user.id), class: "ui basic green icon button", data: { turbo: false }, method: :get do %>
								<i class="download icon"></i>
								Resume
							<% end %>
							<br/>
							
							<%= link_to("(#{@user.achievements.count}) Achievements", profile_achievements_path(@user.id), class: "achievement-link", data: { turbo: false }) %>
							
							<a href="https://forms.gle/AxHrYSnuvhecfJCP8" target="_blank" class="ui green button">Give Feedback</a>
							<br/>
							<br/>
							<div class="horizontal-line"></div>
						</div>
					</div>
				<% end %>
				
				
				<div class="companies education">
					<div class="ui large header">Educations:</div>
					<%= turbo_frame_tag "education" do %>
						<div class="division">
							<ul class="education-list">
								<% @user.educations.each do |education| %>
									<i class="list icon"></i>
										<ul>
											<li><%= education.institute %></li>
											<li><%= education.degree %></li>
											<li><%= education.percentage %> &ensp;|&ensp; <%= education.passed_year %></li>
										</ul>
								<% end %>
							</ul>
							<%= link_to "edit", new_profile_education_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
				</div>
				
				<div class="companies">
					<div class="ui large header">Experiences:</div>
					<%= turbo_frame_tag "company" do %>
						<div class="division">
							<ul>
								<% @user.companies.each do |company| %>
									<li><%= company.role %> @ <%= company.name.capitalize %></li>
								<% end %>
							</ul>
							<%= link_to "edit", new_profile_company_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
				</div>
				
				
				<div class="contacts">
					<div class="ui large header">Contact:</div>
					<%= turbo_frame_tag "email" do %>
						<div class="division">
							<div class="ui medium header">Emails:</div>
							<ul>
								<% @user.emails.each do |mail| %>
									<li><%= mail.email %></li>
								<% end %>
							</ul>
							<%= link_to "edit", new_profile_email_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
					<%= turbo_frame_tag "number" do %>
						<div class="division">
							<div class="ui medium header">Mobile:</div>
							<ul>
								<% @user.numbers.each do |number| %>
									<li><%= number.number %></li>
								<% end %>
							</ul>
							<%= link_to "edit", new_profile_number_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
					<%= turbo_frame_tag "address" do %>
						<div class="division" id="address">
							<div class="ui medium header">Address:</div>
							<ul>
								<% @user.addresses.each do |address| %>
									<li><%= address.address %></li>
								<% end %>
							</ul>
							<%= link_to "edit", new_profile_address_path(current_user.id), class: "edit-btn" if @user == current_user %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="sixteen wide mobile ten wide tablet eleven wide computer column" id="skillsets">
		<div class="section">
			<div class="skill-profile">
				<div class="row">
					<%= turbo_frame_tag "language" do %>
						<div class="division" data-controller="color">
							<div class="ui large header">Language Proficiency:</div>
							<ul class="round-boxes" data-color-target="languages">
								<% @user.languages.each do |language| %>
									<li>
										<span><%= language.name %></span>
									</li>
								<% end %>
							</ul>
							<%= link_to "edit", edit_profile_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
				</div>
				<div class="row">
					<%= turbo_frame_tag "skill" do %>
						<div class="division">
							<div class="ui large header">Skills:</div>
							<ul class="round-boxes">
								<% @user.skills.each do |skill| %>
									<li>
										<span><%= skill.name %></span>
									</li>
								<% end %>
							</ul>
							<%= link_to "edit", edit_profile_path(current_user.id), class: "edit-btn" if @user == current_user %>
							<div class="horizontal-line"></div>
						</div>
					<% end %>
				</div>
				<div class="row">
					<%= turbo_frame_tag "projects" do %>
						<div class="division">
							<div class="ui large header">Projects:</div>
							<%= render partial: "repos/index", locals: { edit: false } %>
							<%= link_to "edit", edit_profile_path(current_user.id), class: "edit-btn" if @user == current_user %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
