<div class="sign-in-wrapper">
	<div class="ui raised segments sign-in-box">
		<div class="ui very padded text segment">
			<h2 class="ui blue large centered header">Log in</h2>
			<div class="ui divider"></div><br/>
			
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="field">
					<%= f.label :email %><br/>
					<div class="ui input"><%= f.email_field :email, autofocus: true, autocomplete: "off" %></div>
				</div>
				<br/>
				
				<div class="field">
					<%= f.label :password %><br/>
					<div class="ui input"><%= f.password_field :password, autocomplete: "current-password" %></div>
				</div>
				
				<br/>
				<% if devise_mapping.rememberable? %>
					<div class="ui checkbox field">
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
					</div>
				<% end %>
				
				<br/>
				<br/>
				<div class="actions">
					<%= f.submit "Log in", class: "ui secondary button" %>
				</div>
			<% end %>
		</div>
		
		<div class="ui secondary padded text segment">
			<%= render "users/shared/links" %>
		</div>
	</div>
</div>