<div class="five wide column message-index"
	 data-controller="find"
	 data-find-default-url-value="<%= image_path('profile-pic.jpg') %>">
	
	<div class="chat-header">
		<div class="ui icon input">
			<i class="search icon"></i>
			<input data-find-target="input" type="text" placeholder="Chat with colleagues..."/>
		</div>
	</div>
	
	<div class="chats" data-find-target="suggestion">
		<% if @users.empty? %>
			<div class="no-chat">
				<i class="huge frog icon"></i>
				<div class="empty-msg">You haven't initiated any convo yet..</div>
			</div>
		<% else %>
			<% @users.each_with_index do |user, index| %>
				<div class="chat">
					<%= image_tag (user.image_url || 'profile-pic.jpg'), class: "ui mini avatar image" %>
					<%= link_to room_path(user.id) do %>
						<div class="username-chat"><%= user.name %></div>
					<% end %>
					<div class="last-msg"><%= @rooms[index].messages.last.content %></div>
				</div>
			<% end %>
		<% end %>
	
	</div>
</div>