<%= turbo_stream_from "room" %>
<div class="ui grid">
	<%= render partial: 'rooms/chat_list' %>
	<div class="eleven wide column chat-room">
		<div class="room-header">
			<%= image_tag (@user.image_url || 'profile-pic.jpg'), class: "ui mini avatar image" %>
			<div class="ui large header room-user-name"><%= @user.name %></div>
		</div>
		
		<div data-controller="message" data-message-cuser-value="<%= current_user.id %>" data-action="turbo:stream-end->message#scrollToBottom">
			<div class="actual-chats" id="messages_<%= @room.id %>" data-message-target="chats">
				<%= render @messages %>
			</div>
		</div>
		
		<div class="msg-input">
			<%= form_with url: room_messages_path(@user.id), method: :post do |f| %>
				<%= f.hidden_field "room", value: @room.id %>
				<div class="ui input">
					<%= f.text_field "content", class: "msg-field", placeholder: "Message..." %>
				</div>
				<%= f.submit "Send", class: "ui blue button msg-send" %>
			<% end %>
		</div>
	</div>
</div>