<div id="<%= dom_id post %>" class="job-post">
	<p class="ui big header">
		<%= link_to post.role, post_path(post) %>
	</p>
	
	<span class="ui header" style="color: var(--light-grey)">
		<%= post.project %>
	</span>
	
	<em> &nbsp &#8226 &nbsp  <%= time_ago_in_words post.created_at %> ago</em>
	
	<hr style="border-color: var(--dark-grey);margin-bottom: 40px"/>
	
	<p class="job-details">
		<%= truncate post.body, length: 900 %>
	</p>
	
	<% unless post.skills.empty? %>
		<div>
			Skills required:&ensp;&ensp;
			<% post.skills.each do |skill| %>
				<div class="ui blue label">
					<%= skill.name %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
