<%= turbo_frame_tag dom_id(@email) do %>
	<%= form_with url: profile_email_path(@profile_id, @email.id), method: :patch do |f| %>
		<div class="lined-input">
			<li>
				<%= f.text_field "email", value: @email.email, placeholder: "Email", autocomplete: "off", required: true %>
				<%= f.button class: "ui compact icon button" do %>
					<i class="save blue icon"></i>
				<% end %>
				<%= link_to new_profile_email_path do %>
					<i class="close blue link icon"></i>
				<% end %>
			</li>
		</div>
	<% end %>
<% end %>