<!DOCTYPE html>
<html>

<head>
	<title>Pingcoders</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
	<script src="https://cdn.jsdelivr.net/npm/tsparticles-engine"></script>
	<script src="https://cdn.jsdelivr.net/npm/tsparticles/tsparticles.bundle.min.js"></script>
	<%= javascript_importmap_tags %>
</head>

<body>
<div class="ui right vertical sidebar labeled icon menu">
	<%= link_to search_index_path, class: "item" do %>
		<i class="search link icon"></i>
		Ping
	<% end %>
	
	<%= link_to posts_path, class: "item" do %>
		<i class="laptop code link icon"></i>
		Jobs
	<% end %>
	
	<% if user_signed_in? %>
		<%= link_to profile_path(current_user.id), class: "item" do %>
			<i class="user link icon"></i>
			Profile
		<% end %>
	<% end %>
	
	<% if user_signed_in? %>
		<%= link_to rooms_path, class: "item" do %>
			<i class="comment link icon"></i>
			Chat
		<% end %>
		
		<%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "item" do %>
			<i class="sign out alternate icon"></i>
			Sign Out
		<% end %>
	
	<% else %>
		<%= link_to new_user_session_path, method: :get, class: "item" do %>
			<i class="sign in alternate icon"></i>
			Sign In
		<% end %>
	<% end %>
</div>

<div class="pusher">
	<header class="navbar">
		<h2>Pingcoders</h2>
		<div class="session-btn">
			<%#= link_to admins_path do %>
<!--				<i class="dashboard icon"></i> Admin-->
			<%# end %>
			<%= link_to search_index_path do %>
				<i class="search icon"></i> Ping
			<% end %>
			<%= link_to posts_path do %>
				<i class="laptop code icon"></i> Jobs
			<% end %>
			<% if user_signed_in? %>
				<%= link_to rooms_path do %>
					<i class="comment icon"></i> Chats
				<% end %>
				
				<%= link_to profile_path(current_user.id) do %>
					<i class="user icon"></i> Profile
				<% end %>
				
				<a class="bell" style="width: max-content; margin: auto 15px">
					<i class="large bell icon" onclick="$('.notification-box').toggle()"></i>
					
					<div class="notification-box">
						<div class="ui header">Recent Activities:</div>
						<% @notifications.each do |n| %>
							<%= render partial: "notifications/notification", locals: { notification: n, user: n.user } %>
						<% end %>
					</div>
				</a>
			<% end %>
			
			<%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ui negative button" if user_signed_in? %>
			<%= link_to "Sign In", new_user_session_path, method: :get, class: "ui positive button" unless user_signed_in? %>
		</div>
		
		<div class="mobile-session-btn" data-controller="sidebar">
			<i class="large bars link icon" data-action="click->sidebar#toggle"></i>
		</div>
	</header>
	<% if alert %>
		<div data-controller="toast" data-toast-type-value="alert" data-toast-message-value="<%= alert %>"></div>
	<% elsif notice %>
		<div data-controller="toast" data-toast-type-value="notice" data-toast-message-value="<%= notice %>"></div>
	<% end %>
	
	<script>
		document.querySelectorAll('.session-btn a')[<%= @section || 4 %>].classList.add('active');
	</script>
	
	<div id="main">
		<%= yield %>
	</div>
</div>
</body>
</html>
